<h1>Word Puzzle</h1>
<form  action='/displayResult'>
  <div class='form-group'>
    <label for='userInput'> Let's play a game! Insert a word that you would like your friend to guess, then see if they can figure it out! </label>
    <input type="text" name="userInput" id="userInput" class="form-control">
  </div>

<button type="submit" class='btn'> Go!</button>

<img src="puzzle-tree.jpg" alt="Puzzle Piece Tree">
</form>